*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Slab", serif
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
html{
    scroll-behavior: smooth;
}

header{
    background-image: url(./img/header\ hero\ bg\ img.png);
    background-size: cover;
    .container{
        .navbar{
            padding: 20px 0;
            display: flex;
            align-items: center;
            gap: 50px;
            a{
                color: black;
            }
            .navbar_a{
                font-family: CircularStd;
                font-weight: 900;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: -0.75px;
                
            }
            ul{
                display: flex;
                align-items: center;
                gap: 40px;
                a{
                    font-family: CircularStd;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: -0.5px;
                    text-align: right;
                    &:hover{
                        color: rgba(240, 64, 55, 1);
                    }
                    
                }
            }
        }
        .header_hero{
            justify-content: space-between;
            padding-bottom: 200px;
            padding-top:100px ;
            display: flex;
            .header_hero_left{
                h1{
                    font-family: CircularStd;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 70px;
                    letter-spacing: -1.88px;
                    
                }
                p{
                    font-family: CircularStd;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 39px;
                    letter-spacing: -0.66px;
                    padding: 30px 0;
                    
                }
                form{
                    justify-content: space-between;
                    i{
                        opacity: 0.5;
                    }
                    background: white;
                    width: 100%;
                    gap: 10px;
                    align-items: center;
                    padding: 7px;
                    display: flex;
                    border-radius: 10px;
                    a{
                        padding: 10px 20px ;
                        background: rgba(240, 64, 55, 1);
                        border: 1px solid rgba(195, 26, 18, 1);
                        border-radius: 5px;
                        

                    }
                    input{
                        outline: none;
                        border: none;

                    }
                }
                width: 40%;

            }
            .header_hero_right{
                display: flex;
                justify-content: space-between;
                width: 50%;
                .img_one{
                    width: 190px;
                    height: 190px;
                    border-radius: 50%;
                    object-fit: cover;
                    align-self: end;
                }
                .img_two{
                    align-items:flex-end ;
                    border: 9px solid white;
                    width: 190px;
                    height: 190px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
}






main{
    .section_one{
        background: rgba(65, 62, 101, 1);
        padding: 100px 0;
        .container{

            
            
            .section__one{
                display: flex; 
                align-items: center;
                 justify-content: space-between;

                 .section_left{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    ul{
                            border-radius: 10px;
                            background: white;
                            gap: 30px;
                            padding: 10px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            .img{
                                align-items: center;
                                justify-content: center;
                                background: rgba(240, 64, 55, 0.0972);
                                color: rgba(240, 64, 55, 1);
                                display: flex;
                                padding: 20px;
                                border-radius: 50%;
                                img{
                                    width: 100%;
                                }
                               
                                
                                
                            }
                            li{
                               h1{
                                   font-family: CircularStd;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 100%;
                                letter-spacing: -0.75px;
                                padding-bottom:10px;
                                
                                
                            }
                               p{
                                font-family: CircularStd;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                                letter-spacing: -0.5px;
                                
                            }
        
                        }
                        }
                    }
                    .section_right{
                        width: 44%;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        h1{
                            font-family: CircularStd;
                            font-weight: 700;
                            font-size: 60px;
                            line-height: 70px;
                            letter-spacing: -1.88px;
                            
                        }
                        p{
                            font-family: CircularStd;
                            font-weight: 400;
                            font-size: 21px;
                            line-height: 39px;
                            letter-spacing: -0.66px;
                            opacity: 0.5;
                            
                        }
                        a{
                            color: rgba(255, 255, 255, 1);
                            font-family: CircularStd;
                            font-weight: 500;
                            font-size: 21px;
                            line-height: 100%;
                            letter-spacing: -0.66px;
                            padding: 15px 25px;
                            background: rgba(240, 64, 55, 1);
                            border: 1px solid rgba(195, 26, 18, 1);
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            width: 30%;
                            border-radius: 8px;
                            transition: all 0.5s ease-in-out;
                            &:hover{
                            transform: scale(1.1);
                            transform: rotate(180deg);

                }
                            
                            
                        }
                    }
                }
            
            }
    }
    

    section{
        .section_two{
            display: flex;
            align-items: center;
            .section_two_left{
                gap: 30px;
                display: flex;
                flex-direction: column;
            width: 50%;
            h1{
                font-family: CircularStd;
                font-weight: 700;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: -1.88px;
                
            }
            p{
                font-family: CircularStd;
                font-weight: 400;
                font-size: 21px;
                line-height: 39px;
                letter-spacing: -0.66px;
                opacity: 0.5;
                
            }
            a{
                font-family: CircularStd;
                font-weight: 500;
                font-size: 21px;
                line-height: 100%;
                letter-spacing: -0.66px;
                padding: 10px 15px;
                background: rgba(240, 64, 55, 1);
                border: 1px solid rgba(195, 26, 18, 1);
                border-radius: 10px;
                color: white;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 30%;
                transition: all 1s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                    transform: rotate(360deg);

                }
                &:active{
                    background: darkblue;
                }
                
            }

        }
        .section_two_right{
            position: relative;
            .bloom{
                object-fit: cover;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                border: 9px solid white;
            position: absolute;
            bottom: 50px;
            left: -80px;

            }
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}


section{
    .container{
        .section_thearee{
            padding:100px 0 ;
            width: 85%;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            h1{
                  font-family: CircularStd;
                 font-weight: 700;
                 font-size: 60px;
                 line-height: 70px;
                 letter-spacing: -1.88px;
                 text-align: center;
                 padding: 50px 0;
                 
            }
            ul{
                width: 100%;
                .two_ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                text-align: center;
                align-items: center;
                li{
                    display: flex;
                    gap: 1 0px;
                    background: white;
                    width: 30%;
                    padding: 20px 10px;
                    border-radius: 10px;
                    align-items: center;
                    h1{
                        font-family: CircularStd;
                        font-weight: 700;
                        font-size: 21px;
                        line-height: 100%;
                        letter-spacing: -0.66px;
                        
                    }
                    i{
                        width: 70px ;
                        height: 70px;
                        font-size: 30px;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                    }
                }
            }
        }
    }
}



section{
    .container{
        .section_foo{
            display: flex;
            align-items: center;
            .section_foo_left{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 50%;
                h1{
                    font-family: CircularStd;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 70px;
                    letter-spacing: -1.88px;
                    
                }
                p{
                    font-family: CircularStd;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 39px;
                    letter-spacing: -0.66px;
                    
                }
                a{
                    font-family: CircularStd;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 100%;
                    letter-spacing: -0.66px;
                    text-align: center;
                    padding: 10px ;
                    background: red;
                    width: 30%;
                    border-radius: 5px;
                    color: white;
                    
                }
            }
            .section_foo_right{
                position: relative;
                width: 50%;
                .right_one{
                    object-fit: cover;
                    width: 100%;
                }
                .right_two{
                    position: absolute;
                    left: -50px;
                    bottom: 70px;
                    width: 160px ;
                    height: 160px;
                    border-radius: 50%;
                    border: 9px solid rgba(255, 255, 255, 1);
                    box-shadow: 1px 10px 30px rgb(54, 53, 53);
                    object-fit: cover;
                    
                }
            }
        }
    }
}


section{
    .container{
        .section_five{
            padding: 50px 0;
            text-align: center;
            h1{
                font-family: CircularStd;
                font-weight: 700;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: -1.88px;
                text-align: center;
                
            }
            p{
                font-family: CircularStd;
                font-weight: 400;
                font-size: 21px;
                line-height: 39px;
                letter-spacing: -0.66px;
                text-align: center;
                
            }
            .section_five_cards{
                padding: 50px 0;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .card{
                    background: white;
                    width: 40%;
                  padding: 15px;
                  border-radius: 10px;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  ul{
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    li{
                        display: flex;
                        flex-direction: column;
                        h1{
                            font-family: CircularStd;
                            font-weight: 700;
                            font-size: 21px;
                            line-height: 28px;
                            letter-spacing: -0.66px;
                            
                        }
                        p{
                            font-family: CircularStd;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 28px;
                            letter-spacing: -0.5px;
                            
                        }
                    }
                  }
                  h1{
                    font-family: CircularStd;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 39px;
                    letter-spacing: -0.66px;
                    text-align: start;
                    
                  }
                }
            }
        }
    }
}

section{
    .container{
        .section_six{
            padding: 50px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .section_six_left{
                position: relative;
                display: flex;
                width: 40%;
                .img_one{
                    width: 90%;
                    object-fit: cover;
                    border-radius: 15px;

                }
                .img_two{
                    position: absolute;
                    right: -70px;
                    top: 210px;
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 9px solid rgba(255, 255, 255, 1)
                }
            }
            .section_six_right{
                display: flex;
                flex-direction: column;
                gap: 30px;
                h1{
                    font-family: CircularStd;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 70px;
                    letter-spacing: -1.88px;
                    
                }
                p{
                    font-family: CircularStd;
                     font-weight: 400;
                     font-size: 21px;
                     line-height: 39px;
                     letter-spacing: -0.66px;
                     opacity: 0.5;
                     
                }
                form{
                    background: white;
                    width: 80%;
                    justify-content: space-between;
                    display: flex;
                    padding: 20px;
                    gap: 20px;
                    border-radius: 10px;
                    input{
                        width: 100%;
                        border: none;
                        outline: none;

                    }

                }
                a{
                    padding: 20px ;
                    background: red;
                    width: 80%;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    font-family: CircularStd;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 100%;
                    letter-spacing: -0.66px;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);
                    
                }
                width: 50%;
            }
        }
    }
}
}

footer{
    .container{
        .f_container{
            flex-wrap: wrap;
            .title{
                font-family: CircularStd;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: -0.5px;
                padding-bottom: 30px;
                
            }
            .f_ul{
                display: flex;
                flex-direction: column;
                li{
                    font-family: CircularStd;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 38px;
                    letter-spacing: -0.5px;
                    
                }
                a{
                    padding: 10px 0;
                }
            }
            padding: 100px 0;
            display: flex;
            align-items: start;
            justify-content: space-between;
            .card_one{
                width: 20%;
                h1{
                    font-family: CircularStd;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: -0.75px;
                    
                }
                p{
                    font-family: CircularStd;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    opacity: 0.5;
                    
                }
                .iconlar{
                    display: flex;
                    gap: 20px;

                    i{
                        width: 40px ;
                        height: 40px;
                        background: rgba(105, 104, 113, 1);
                        color: white;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}








































@media(max-width:1122px){
    main{
        .section_one{
            
            .container{
                    .section__one{
                        gap: 10px;
                    justify-content: center;
                    .section_left{
                        
                    }
                    .section_right{
                        gap: 10px;
                        h1{
                            font-size: 30px;
                            line-height: normal;
                        }
                        p{
                            line-height: normal;
                        }
                        a{
                            padding: 0;
                            width: 100%;
                            padding: 10px;
                        }
                    }
                }
            }
        }


        section{
            .container{
                .section_thearee{
                    .one_ul{
                        flex-wrap: wrap;
                        ul{
                            justify-content: space-between;

                            li{
                                h1{
                                    padding: 0;
                                }
                                width:20% ;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}













@media(max-width:1000px){
    main{
        section{
            .container{
                .section_thearee{
                    .one_ul{
                        ul{

                            flex-direction: column;
                            align-items: center;
                            li{
                                width: 100%;
                                align-items: center;
                                h1{
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}








@media(max-width:923px){
    header{
        .container{
            .navbar{

            }
            .header_hero{
                justify-content: center;

                .header_hero_left{
                    h1{
                        font-size: 35px;
                        line-height: normal;
                    }
                    p{
                       font-size: 20px;
                       line-height: normal;
                    }
                    form{
                        gap: 0;
                        padding: 0;
                         width: 100%;
                        justify-content: center;
                        a{
                            padding: 5px;
                        }
                    }
                }
                .header_hero_right{
                    width: 25%;
                   
                    align-self: center;
                    .img_one{
                         width: 100px;
                        height: 100px;
                        align-items: center;

                    }
                    .img_two{
                        width: 100px;
                        height: 100px;
                        align-items: center;
                    }
                }

            }
        }
    }
}









@media(max-width:788px){
    header{
        .header_hero{
            width: 100%;
            flex-direction: column-reverse;
            .header_hero_left{
                text-align: center;
                width: 100%;
                margin: 0 auto;
                justify-content: center;
                h1{
                    width: 250px;
                    margin: 0 auto;
                }
                p{
                    width: 250px;
                }
                
                form{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    a{
                        width: 290px;

                        text-align: center;
                    }
                    display: flex;
                    gap: 30px;
                    padding: 20px 0;
                    input{
                        width: 100%;
                    }
                }
            }
            .header_hero_right{
                width: 100%;
                .img_one{
                    width: 200px;
                    height: 200px;
                }
                .img_two{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
main{
        section{
            .container{
                .section_two{
                    flex-direction: column-reverse;
                    .section_two_left{
                        width: 100%;
                       
                        h1{
                            font-size: 35px;
                            line-height: normal;
                        }
                        p{
                            font-size: 25px;
                            line-height: normal;
                        }
                        a{
                            padding: 2px;
                            font-size: 20px;
                            width: 100%;
                            border-radius: 5px;
                        }
                    }
                    .section_two_right{
                         .bloom{
                            position: absolute;
                            top: 0;
                        }
                        width: 100%;
                    }
                }
            }
        }
        
        
        
        section{
            .container{
                .section_foo{
                    .section_foo_left{
                        h1{
                            font-size: 35px;
                            line-height: normal;
                        }
                        p{
                            line-height: normal;
                        }
                        a{
                            width: 100%;
                        }
                    }
                    .section_foo_right{
                        .right_two{
                            width: 100px;
                            height: 100px;
                            position: absolute;
                            left: -30px;
                            bottom: 30px;
                        }
                    }
                }
            }
        }
        
    }

    footer{
        .container{
            .f_container{
                flex-wrap: wrap-reverse;
                gap: 50px;

            }
        }
    }

}

@media(max-width:700px){
    main{
        section{
            .container{
                .section_five{
                    .section_five_cards{

                        flex-direction: column;
                        display: flex;
                        gap: 50px;
                        .card{
                            width: 100%;

                        }
                    }
                }
            }
        }



        section{
            .container{
                .section_six{
                    flex-direction: column;
                    .section_six_left{
                        .img_one{
                            width: 100%;
                        }
                        width: 100%;
                        .img_two{
                            position: absolute;
                            right: 0;
                        }
                    }
                    .section_six_right{
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media(max-width:990px){
     main{
        .section_one{
            
            .container{
                    .section__one{
                        flex-direction: column;
                        gap: 10px;
                    justify-content: center;
                    .section_left{
                        width: 100%;
                        
                    }
                    .section_right{
                        width: 100%;
                        gap: 30px;
                        h1{
                            font-size: 50px;
                            line-height: 48px;
                        }
                        p{
                            line-height: 28px;
                        }
                        a{
                            padding: 0;
                            width: 100%;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}




@media(max-width:840px){
    main{
        section{
            .container{
                .section_two{
                    .section_two_left{
                        
                        h1{
                            font-size: 35px;
                            line-height: normal;
                        }
                        p{
                            font-size: 25px;
                            line-height: normal;
                        }
                        a{
                            padding: 2px;
                            font-size: 20px;
                            width: 100%;
                            border-radius: 5px;
                        }
                    }
                    .section_two_right{
                        .bloom{
                            position: absolute;
                            top: 0;
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
}



@media(max-width:480px){
    main{
        section{
            .container{
                .section_foo{
                    flex-direction: column-reverse;
                    .section_foo_left{
                        width: 100%;
                    }
                    .section_foo_right{
                        width: 100%;
                        .right_two{
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}