* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-image: url(./img/header\ hero\ bg\ img.png);
  background-size: cover;
}
header .container .navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
header .container .navbar a {
  color: black;
}
header .container .navbar .navbar_a {
  font-family: CircularStd;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
}
header .container .navbar ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .container .navbar ul a {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: right;
}
header .container .navbar ul a:hover {
  color: rgb(240, 64, 55);
}
header .container .header_hero {
  justify-content: space-between;
  padding-bottom: 200px;
  padding-top: 100px;
  display: flex;
}
header .container .header_hero .header_hero_left h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}
header .container .header_hero .header_hero_left p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  padding: 30px 0;
}
header .container .header_hero .header_hero_left form {
  justify-content: space-between;
}
header .container .header_hero .header_hero_left form i {
  opacity: 0.5;
}
header .container .header_hero .header_hero_left form {
  background: white;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding: 7px;
  display: flex;
  border-radius: 10px;
}
header .container .header_hero .header_hero_left form a {
  padding: 10px 20px;
  background: rgb(240, 64, 55);
  border: 1px solid rgb(195, 26, 18);
  border-radius: 5px;
}
header .container .header_hero .header_hero_left form input {
  outline: none;
  border: none;
}
header .container .header_hero .header_hero_left {
  width: 40%;
}
header .container .header_hero .header_hero_right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
header .container .header_hero .header_hero_right .img_one {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: end;
}
header .container .header_hero .header_hero_right .img_two {
  align-items: flex-end;
  border: 9px solid white;
  width: 190px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

main .section_one {
  background: rgb(65, 62, 101);
  padding: 100px 0;
}
main .section_one .container .section__one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .section_one .container .section__one .section_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .section_one .container .section__one .section_left ul {
  border-radius: 10px;
  background: white;
  gap: 30px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
main .section_one .container .section__one .section_left ul .img {
  align-items: center;
  justify-content: center;
  background: rgba(240, 64, 55, 0.0972);
  color: rgb(240, 64, 55);
  display: flex;
  padding: 20px;
  border-radius: 50%;
}
main .section_one .container .section__one .section_left ul .img img {
  width: 100%;
}
main .section_one .container .section__one .section_left ul li h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  padding-bottom: 10px;
}
main .section_one .container .section__one .section_left ul li p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
}
main .section_one .container .section__one .section_right {
  width: 44%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .section_one .container .section__one .section_right h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}
main .section_one .container .section__one .section_right p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  opacity: 0.5;
}
main .section_one .container .section__one .section_right a {
  color: rgb(255, 255, 255);
  font-family: CircularStd;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  padding: 15px 25px;
  background: rgb(240, 64, 55);
  border: 1px solid rgb(195, 26, 18);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
main .section_one .container .section__one .section_right a:hover {
  transform: scale(1.1);
  transform: rotate(180deg);
}
main section .section_two {
  display: flex;
  align-items: center;
}
main section .section_two .section_two_left {
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
main section .section_two .section_two_left h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}
main section .section_two .section_two_left p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  opacity: 0.5;
}
main section .section_two .section_two_left a {
  font-family: CircularStd;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  padding: 10px 15px;
  background: rgb(240, 64, 55);
  border: 1px solid rgb(195, 26, 18);
  border-radius: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  transition: all 1s ease-in-out;
}
main section .section_two .section_two_left a:hover {
  transform: scale(1.1);
  transform: rotate(360deg);
}
main section .section_two .section_two_left a:active {
  background: darkblue;
}
main section .section_two .section_two_right {
  position: relative;
}
main section .section_two .section_two_right .bloom {
  -o-object-fit: cover;
     object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 9px solid white;
  position: absolute;
  bottom: 50px;
  left: -80px;
}
main section .section_two .section_two_right {
  width: 50%;
}
main section .section_two .section_two_right img {
  width: 100%;
}
main section .container .section_thearee {
  padding: 100px 0;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
main section .container .section_thearee h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  text-align: center;
  padding: 50px 0;
}
main section .container .section_thearee ul {
  width: 100%;
}
main section .container .section_thearee ul .two_ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .container .section_thearee ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  align-items: center;
}
main section .container .section_thearee ul li {
  display: flex;
  gap: 1 0px;
  background: white;
  width: 30%;
  padding: 20px 10px;
  border-radius: 10px;
  align-items: center;
}
main section .container .section_thearee ul li h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
}
main section .container .section_thearee ul li i {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
main section .container .section_foo {
  display: flex;
  align-items: center;
}
main section .container .section_foo .section_foo_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
main section .container .section_foo .section_foo_left h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}
main section .container .section_foo .section_foo_left p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
}
main section .container .section_foo .section_foo_left a {
  font-family: CircularStd;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  text-align: center;
  padding: 10px;
  background: red;
  width: 30%;
  border-radius: 5px;
  color: white;
}
main section .container .section_foo .section_foo_right {
  position: relative;
  width: 50%;
}
main section .container .section_foo .section_foo_right .right_one {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
main section .container .section_foo .section_foo_right .right_two {
  position: absolute;
  left: -50px;
  bottom: 70px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 9px solid rgb(255, 255, 255);
  box-shadow: 1px 10px 30px rgb(54, 53, 53);
  -o-object-fit: cover;
     object-fit: cover;
}
main section .container .section_five {
  padding: 50px 0;
  text-align: center;
}
main section .container .section_five h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  text-align: center;
}
main section .container .section_five p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  text-align: center;
}
main section .container .section_five .section_five_cards {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main section .container .section_five .section_five_cards .card {
  background: white;
  width: 40%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section .container .section_five .section_five_cards .card ul img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
main section .container .section_five .section_five_cards .card ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
main section .container .section_five .section_five_cards .card ul li {
  display: flex;
  flex-direction: column;
}
main section .container .section_five .section_five_cards .card ul li h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.66px;
}
main section .container .section_five .section_five_cards .card ul li p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
}
main section .container .section_five .section_five_cards .card h1 {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  text-align: start;
}
main section .container .section_six {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .container .section_six .section_six_left {
  position: relative;
  display: flex;
  width: 40%;
}
main section .container .section_six .section_six_left .img_one {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
main section .container .section_six .section_six_left .img_two {
  position: absolute;
  right: -70px;
  top: 210px;
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 9px solid rgb(255, 255, 255);
}
main section .container .section_six .section_six_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main section .container .section_six .section_six_right h1 {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}
main section .container .section_six .section_six_right p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  opacity: 0.5;
}
main section .container .section_six .section_six_right form {
  background: white;
  width: 80%;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}
main section .container .section_six .section_six_right form input {
  width: 100%;
  border: none;
  outline: none;
}
main section .container .section_six .section_six_right a {
  padding: 20px;
  background: red;
  width: 80%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  text-align: center;
  color: rgb(255, 255, 255);
}
main section .container .section_six .section_six_right {
  width: 50%;
}

footer .container .f_container {
  flex-wrap: wrap;
}
footer .container .f_container .title {
  font-family: CircularStd;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  padding-bottom: 30px;
}
footer .container .f_container .f_ul {
  display: flex;
  flex-direction: column;
}
footer .container .f_container .f_ul li {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.5px;
}
footer .container .f_container .f_ul a {
  padding: 10px 0;
}
footer .container .f_container {
  padding: 100px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .container .f_container .card_one {
  width: 20%;
}
footer .container .f_container .card_one h1 {
  font-family: CircularStd;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
}
footer .container .f_container .card_one p {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  opacity: 0.5;
}
footer .container .f_container .card_one .iconlar {
  display: flex;
  gap: 20px;
}
footer .container .f_container .card_one .iconlar i {
  width: 40px;
  height: 40px;
  background: rgb(105, 104, 113);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

@media (max-width: 1122px) {
  main .section_one .container .section__one {
    gap: 10px;
    justify-content: center;
  }
  main .section_one .container .section__one .section_right {
    gap: 10px;
  }
  main .section_one .container .section__one .section_right h1 {
    font-size: 30px;
    line-height: normal;
  }
  main .section_one .container .section__one .section_right p {
    line-height: normal;
  }
  main .section_one .container .section__one .section_right a {
    padding: 0;
    width: 100%;
    padding: 10px;
  }
  main section .container .section_thearee .one_ul {
    flex-wrap: wrap;
  }
  main section .container .section_thearee .one_ul ul {
    justify-content: space-between;
  }
  main section .container .section_thearee .one_ul ul li h1 {
    padding: 0;
  }
  main section .container .section_thearee .one_ul ul li {
    width: 20%;
    padding: 10px;
  }
}
@media (max-width: 1000px) {
  main section .container .section_thearee .one_ul ul {
    flex-direction: column;
    align-items: center;
  }
  main section .container .section_thearee .one_ul ul li {
    width: 100%;
    align-items: center;
  }
  main section .container .section_thearee .one_ul ul li h1 {
    font-size: 25px;
  }
}
@media (max-width: 923px) {
  header .container .header_hero {
    justify-content: center;
  }
  header .container .header_hero .header_hero_left h1 {
    font-size: 35px;
    line-height: normal;
  }
  header .container .header_hero .header_hero_left p {
    font-size: 20px;
    line-height: normal;
  }
  header .container .header_hero .header_hero_left form {
    gap: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
  header .container .header_hero .header_hero_left form a {
    padding: 5px;
  }
  header .container .header_hero .header_hero_right {
    width: 25%;
    align-self: center;
  }
  header .container .header_hero .header_hero_right .img_one {
    width: 100px;
    height: 100px;
    align-items: center;
  }
  header .container .header_hero .header_hero_right .img_two {
    width: 100px;
    height: 100px;
    align-items: center;
  }
}
@media (max-width: 788px) {
  header .header_hero {
    width: 100%;
    flex-direction: column-reverse;
  }
  header .header_hero .header_hero_left {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  header .header_hero .header_hero_left h1 {
    width: 250px;
    margin: 0 auto;
  }
  header .header_hero .header_hero_left p {
    width: 250px;
  }
  header .header_hero .header_hero_left form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  header .header_hero .header_hero_left form a {
    width: 290px;
    text-align: center;
  }
  header .header_hero .header_hero_left form {
    display: flex;
    gap: 30px;
    padding: 20px 0;
  }
  header .header_hero .header_hero_left form input {
    width: 100%;
  }
  header .header_hero .header_hero_right {
    width: 100%;
  }
  header .header_hero .header_hero_right .img_one {
    width: 200px;
    height: 200px;
  }
  header .header_hero .header_hero_right .img_two {
    width: 200px;
    height: 200px;
  }
  main section .container .section_two {
    flex-direction: column-reverse;
  }
  main section .container .section_two .section_two_left {
    width: 100%;
  }
  main section .container .section_two .section_two_left h1 {
    font-size: 35px;
    line-height: normal;
  }
  main section .container .section_two .section_two_left p {
    font-size: 25px;
    line-height: normal;
  }
  main section .container .section_two .section_two_left a {
    padding: 2px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
  }
  main section .container .section_two .section_two_right .bloom {
    position: absolute;
    top: 0;
  }
  main section .container .section_two .section_two_right {
    width: 100%;
  }
  main section .container .section_foo .section_foo_left h1 {
    font-size: 35px;
    line-height: normal;
  }
  main section .container .section_foo .section_foo_left p {
    line-height: normal;
  }
  main section .container .section_foo .section_foo_left a {
    width: 100%;
  }
  main section .container .section_foo .section_foo_right .right_two {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -30px;
    bottom: 30px;
  }
  footer .container .f_container {
    flex-wrap: wrap-reverse;
    gap: 50px;
  }
}
@media (max-width: 700px) {
  main section .container .section_five .section_five_cards {
    flex-direction: column;
    display: flex;
    gap: 50px;
  }
  main section .container .section_five .section_five_cards .card {
    width: 100%;
  }
  main section .container .section_six {
    flex-direction: column;
  }
  main section .container .section_six .section_six_left .img_one {
    width: 100%;
  }
  main section .container .section_six .section_six_left {
    width: 100%;
  }
  main section .container .section_six .section_six_left .img_two {
    position: absolute;
    right: 0;
  }
  main section .container .section_six .section_six_right {
    width: 100%;
  }
}
@media (max-width: 990px) {
  main .section_one .container .section__one {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  main .section_one .container .section__one .section_left {
    width: 100%;
  }
  main .section_one .container .section__one .section_right {
    width: 100%;
    gap: 30px;
  }
  main .section_one .container .section__one .section_right h1 {
    font-size: 50px;
    line-height: 48px;
  }
  main .section_one .container .section__one .section_right p {
    line-height: 28px;
  }
  main .section_one .container .section__one .section_right a {
    padding: 0;
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 840px) {
  main section .container .section_two .section_two_left h1 {
    font-size: 35px;
    line-height: normal;
  }
  main section .container .section_two .section_two_left p {
    font-size: 25px;
    line-height: normal;
  }
  main section .container .section_two .section_two_left a {
    padding: 2px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
  }
  main section .container .section_two .section_two_right .bloom {
    position: absolute;
    top: 0;
    left: 10px;
  }
}
@media (max-width: 480px) {
  main section .container .section_foo {
    flex-direction: column-reverse;
  }
  main section .container .section_foo .section_foo_left {
    width: 100%;
  }
  main section .container .section_foo .section_foo_right {
    width: 100%;
  }
  main section .container .section_foo .section_foo_right .right_two {
    width: 200px;
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */